:root{
    --color-corp: #D6F64B;
    --color-smoke: #848895;
}

body{
    font-family: "Montserrat", sans-serif;
    background: black;
    color: white;
}
a{
    color: inherit;
    text-decoration: none;
}
.nav-link{
    color: white;
    font-weight: 600;
}
.nav-link:hover{
    color: var(--color-corp);
}
.fs-title{
    font-size: clamp(1.5rem, -1.4688rem + 9.5vw, 3.875rem);
}
.fs-title-2{
    font-size: clamp(1.125rem, 0.6563rem + 1.5vw, 1.5rem);
}
.fs-paragraph{
    font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
}
.fs-section-title{
    font-size: clamp(1.5rem, 0.7188rem + 2.5vw, 2.125rem);
}
.fs-span{
    font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
}
.text-corp{
    color: var(--color-corp);
}
.fw-extrabold{
    font-weight: 700;
}
.btn{
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 600;
}
.btn-corp{
    color: black;
    background: var(--color-corp);
}
.btn-transparent{
    outline: 1px solid var(--color-corp);
    color: var(--color-corp);
}
.navbar-toggler-icon {
    background-image: url(icons/burger.svg);
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-collapse.collapse.show{
    background: black;
}
.w-fit-content{
    width: fit-content;
}
.number{
    font-weight: 700;
    font-size: 140px;
    font-family: 'Oswald', sans-serif ;
    opacity: 0.2;
    left: 50%;
    transform: translateX(-50%);
}
.img-left, .img-right{
    top: -100%;
}
.img-right{
    right: 0;
}
.text-balance{
    text-wrap: balance;
}
.icon-height{
    height: 50px;
}
.border-linear{
  padding: 20px; 
  border-radius: 12px;
  border: 1px solid transparent; 
  background: 
    linear-gradient( rgba(0, 0, 0, 0.8)) padding-box,
    linear-gradient(
      to bottom right,
      #D6F64B 0%, 
      #D6F64B 37%, 
      #272727 70%
    ) border-box;
  background-origin: border-box; 
  background-repeat: no-repeat;
}
.center-light-img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.form-control{
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.435);
    border-radius: 0;
    color: white;
    padding-left: 0;
}
.form-control:focus {
    color: white;
    background-color: transparent;
    border-color: white;
    box-shadow: none;
}
.form-control::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
.title-rotate{
    transform: rotate(-90deg);
    left: 0;
}
.number-custom-transparent{
    color: transparent;
    opacity: 1;
    -webkit-text-stroke: 1px var(--color-corp); 
    text-stroke: 1px var(--color-corp); 
    transition: all 0.3s ease;
}
.number-custom-transparent:hover{
    color: var(--color-corp);
}
.number-solid{
    color: var(--color-corp);
    opacity: 1;
    transition: all 0.3s ease;
}
.number-solid:hover{
    color: transparent;
    -webkit-text-stroke: 1px var(--color-corp); 
    text-stroke: 1px var(--color-corp); 
}
.image-slider .splide__slide {
    transition: all 0.3s ease;
    transform: scale(0.9);
}

.image-slider .splide__slide.is-active {
    transform: scale(1);
}
.text-smoke{
    color: var(--color-smoke);
}
/* animations*/
.hover-scale{
    transition: all 0.3s ease;
}
.hover-scale:hover{
    transform: scale(1.1);
}
.hover-img-rotate .img{
    transition: all 0.3s ease;
}
.hover-img-rotate:hover img{
    animation: spin 1s ease-in-out;
}
@keyframes spin{
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(720deg);
    }
}

@media(max-width: 990px){
    .logo{
        width: 200px;
    }
    .number-custom-transparent, .number-solid{
        font-size: 100px;
    }
    .title-rotate{
        transform: unset;
        left: unset;
    }
    .img-left, .img-right {
        top: -10%;
        width: 40%;
    }
    .image-slider .splide__slide {
        transition: all 0.3s ease;
        transform: unset;
    }
    
    .image-slider .splide__slide.is-active {
        transform: unset;
    }
}
@media(max-width: 768px){
    .btn{
        padding: 8px 20px;
    }
    .bg-img{
        height: 500px;
    }
}
@media(max-width:576px){
    .logo{
        width: 100px;
    }
    .icon-height{
        height: 35px;
    }
    .img-left, .img-right {
        width: 60%;
    }
}